input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.swal2-popup .swal2-styled {
  color: #fff !important;
  background: #2563eb !important;
  border: none !important;
  font-weight: 600 !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
  background: #6b7280 !important;
}